@page
@model HillerødSejlklub.Pages.Begivenhed.RedigerBegivenhedModel
@{

}


<div class="container mt-5">
    <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
            <h5 class="mb-0">Rediger Begivenhed</h5>
        </div>
        <div class="card-body">
            <form method="post">
                


                <div class="mb-3">
                    <label asp-for="Event.Navn" class="form-label">Navn</label>
                    <input asp-for="Event.Navn" class="form-control" />
                    <span asp-validation-for="Event.Navn" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Event.Dato" class="form-label">Dato</label>
                    <input asp-for="Event.Dato" class="form-control" type="date" />
                    <span asp-validation-for="Event.Dato" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Event.Lokation" class="form-label">Lokation</label>
                    <input asp-for="Event.Lokation" class="form-control" />
                    <span asp-validation-for="Event.Lokation" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Gem ændringer</button>

            </form>
        </div>
    </div>
</div>
