@page
@using ClassLibrary.Helpers
@model HillerødSejlklub.Pages.Begivenhed.Participation.ParticipationListModel
@{
}

<div class="container mt-5">
    <h2 class="text-center mb-4">Deltagere</h2>
    @if (Model.Participants.Any())
    {
        <table class="table table-striped table-bordered">
            <thead class="table-primary">
                <tr>
                    <th>Navn</th>
                    <th>Telefonnummer</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var participant in Model.Participants)
                {
                    <tr>
                        <td>@participant.Navn</td>
                        <td>@participant.TelefonNummer</td>
                        <td>@participant.Email</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="alert alert-warning text-center" role="alert">
            Ingen deltagere fundet for denne begivenhed.
        </div>
    }
    @if (AdminState.IsAdminLoggedIn)
    {
        <a class="btn btn-success" asp-page="AddParticipant">
            <i class="bi bi-person-plus"></i> Tilføj deltager
        </a>
    }
</div>
