@page
@model HillerødSejlklub.Pages.Boats.Booking.DeleteBookingModel
@{
}

<div class="container mt-5">
    <h1 class="mb-4 text-danger">Sletning</h1>
    <div class="alert alert-danger">
        <h5>Er du sikker på at slette booking for <strong>@Model.Booking.MemberToBook.Name</strong> til båden <strong>@Model.Booking.BoatToBook.BoatName</strong>?</h5>
        <form method="post" class="mt-3" asp-route-boatName="@Model.Booking.BoatToBook.BoatName">
            <input type="hidden" asp-for="BookingId" />
            <button type="submit" class="btn btn-danger me-2">
                <i class="bi bi-check-circle"></i> Ja
            </button>
            <a class="btn btn-primary" asp-page="AllBookings" asp-route-boatName="@Model.Booking.BoatToBook.BoatName">
                <i class="bi bi-x-circle"></i> Nej
            </a>
        </form>

    </div>
</div>